body{
    
    background-image: url(../img/fundoCapitão.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.historia{
    margin-left: 10%;
    font-size: 50px;
}
.perguntas{
    background-color: chocolate;
    margin-right: 40%;
    margin-left: 40%;
    border: 2px solid rgba(0,0,0,0.5);
}
.botao{
    margin-left: 30%;
}
.heroi{
    display: flex;
    background-color: #5d5d5d;
    text-align: center;
    justify-content: center;
}