body {
    background-image: url(../img/fundoCapitão.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #000000;
    text-align: center;
}


.historia {
    margin-left: 10%;
    font-size: 50px;
    
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butao {
    display: flex;
    border-right: 50px;
    border-color: #0a0a0a;
}
.heroi{
    display: flex;
    background-color: #5d5d5d;
    text-align: center;
    justify-content: center;
    
}